<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<h2>Add New User </h2>
<br>
<form th:method = "post" th:action = "@{/}" th:object = "${user}">
    <label for="name">Name: </label>
    <input type="text" th:field="*{firstName}" id="name"/>
    <br/>
    <label for="name">Surname: </label>
    <input type="text" th:field="*{lastName}" id="surname"/>
    <br/>
    <label for="name">Age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <input type="submit" value="Add New User"/>
</form>

</body>
</html>